<div class="container">
  <h2 class="furniture-category__title">Категорії меблів</h2>
  <ul class="furniture-category__list">
    <li class="furniture-category__item vsi-tovary">
      <a href="#" class="furniture-category__link">"name"</a>
    </li>
    <li class="furniture-category__item _id">
      <a href="#" class="furniture-category__link"
        >Шафи та системи зберігання</a
      >
    </li>
    <li class="furniture-category__item _id">
      <a href="#" class="furniture-category__link">"name"</a>
    </li>
    <li class="furniture-category__item _id">
      <a href="#" class="furniture-category__link">"name"</a>
    </li>
  </ul>
</div>
